.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #3DC2A3;
    font-weight: bold;
}
.color-light {
    background: #bbf9d7;
    
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#FFC9D7;
    color:#53617b;
    margin-bottom:1em;
    cursor:pointer;
    font-weight:bold;
}
.life-container {
    background:#fce3e9;
    padding:.5em;
    cursor:pointer;
}